SECRET_KEY=THIS_IS_NOT_A_GOOD_SECURITY
DEBUG=False
ALLOWED_HOSTS=.localhost, 127.0.0.1, .herokuapp.com

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_USE_TLS=True
EMAIL_PORT=587
EMAIL_HOST_USER=YOUR_EMAIL
EMAIL_HOST_PASSWORD=YOUR_PASSWORD